.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
landing/**
CLAUDE.md
pnpm-lock.yaml
.gitignore
.npmrc
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
